<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ETL-interface-test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ETL-tests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>ETLTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B504995415AF58A300F4AF31</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B504996C15AF5C2300F4AF31</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B599074E158FFC000005C8E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B5B234491592A46C0046F3B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B5B2345B1592A4DC0046F3B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B5E91BFA15929B9C00AAB94B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
